# .NET Desktop
# Build and run tests for .NET Desktop or Windows classic desktop solutions.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/windows/dot-net

trigger:
  branches:
    include:
    - master
  tags:
    include:
    - 'v*'
  paths:
    exclude:
    - LICENSE
    - THIRD-PARTY-NOTICES
    - '**/*.md'

pool:
  vmImage: 'VS2017-Win2016'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- task: PowerShell@2
  displayName: 'PreBuildSteps'
  inputs:
    targetType: 'filePath'
    filePath: 'PreBuild.ps1'
    arguments: '"$(Build.BuildId)" "$(Build.SourceBranch)"'

- task: NuGetToolInstaller@0

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- task: VSBuild@1
  inputs:
    solution: '$(solution)'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task: VSTest@2
  displayName: 'RunTests'
  inputs:
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

# Copy main executable and installer into the staging directory
- task: CopyFiles@2
  displayName: 'CopyArtifacts'
  inputs:
    sourceFolder: ''
    contents: |
      CustomUIEditor/bin/$(buildConfiguration)/**.exe
      Installer/bin/$(buildConfiguration)/**.msi
    targetFolder: '$(Build.ArtifactStagingDirectory)'
    cleanTargetFolder: true # Optional
    flattenFolders: true # Optional
    #overWrite: false # Optional

# Publish Build Artifacts
- task: PublishBuildArtifacts@1
  displayName: 'PublishArtifacts'
  inputs:
    pathtoPublish: '$(Build.ArtifactStagingDirectory)' 
    artifactName: 'Binaries'
    publishLocation: 'Container' # Options: container, filePath
    #targetPath: # Required when publishLocation == FilePath
    #parallel: false # Optional
    #parallelCount: # Optional

- task: GithubRelease@0 
  displayName: 'Create GitHub Release'
  condition: startsWith(variables['Build.SourceBranch'], 'refs/tags/v')   
  inputs:
    action: 'create'
    target: '$(Build.SourceVersion)'
    githubConnection: 'fernandreu-pat'
    repositoryName: 'fernandreu/wpf-custom-ui-editor'
    assets: '$(Build.ArtifactStagingDirectory)/**/*.@(exe|msi)'
    tagSource: 'manual'
    tag: '$(Build.SourceBranchName)'
    title: 'Custom UI Editor $(ThreeDigitVersion).$(Build.BuildId)'
    releaseNotesSource: 'input'
    addChangelog: true
    isDraft: false  # The release notes will need some tweaking but are self-sufficient. Hence, better to release this directly and edit them later
    releaseNotes: |
      Released automatically from [Azure Pipelines](https://dev.azure.com/fernandreu-public/Custom%20UI%20Editor/_build/results?buildId=$(Build.BuildId))

      ## What's New

      For a full list of changes, see below. 

      ## How to install / use
      The tool can be installed / used in two ways:
      - By running the `.msi` installer provided in the `Assets` section below. This will create an entry in the control panel's programs list
      - By directly running the `.exe` provided in the `Assets` section below. This will not create any entry in the control panel's programs list      
          
- task: PowerShell@2
  displayName: 'PostBuildSteps'
  condition: startsWith(variables['Build.SourceBranch'], 'refs/tags/v')   
  inputs:
    targetType: 'filePath'
    filePath: 'PostBuild.ps1'
    arguments: '"$(ThreeDigitVersion).$(Build.BuildId)" "$(GitHubPAT)" "$(GitHubName)" "$(GitHubEmail)"'
