<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net461" />
  <package id="Costura.Fody" version="3.3.0" targetFramework="net461" />
  <package id="estebano.ScintillaNET.WPF" version="2.6.0" targetFramework="net461" />
  <package id="Extended.Wpf.Toolkit" version="3.4.0" targetFramework="net461" />
  <package id="Fody" version="3.3.5" targetFramework="net461" developmentDependency="true" />
  <package id="jacobslusser.ScintillaNET" version="3.6.3" targetFramework="net461" />
  <package id="JetBrains.Annotations" version="2018.2.1" targetFramework="net461" />
  <package id="Ninject" version="3.3.4" targetFramework="net461" />
  <package id="Prism.Core" version="7.1.0.431" targetFramework="net461" />
  <package id="Prism.Wpf" version="7.1.0.431" targetFramework="net461" />
</packages>