<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Office RibbonX Editor" Language="1033" Version="!(bind.FileVersion.MainExecutable)" Manufacturer="Fernando Andreu" UpgradeCode="9b513a4b-1dc3-43ce-a81e-6dbee7f36099">

        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
        
        <MajorUpgrade Schedule="afterInstallInitialize"
                      AllowSameVersionUpgrades="no"
                      DowngradeErrorMessage="A newer version of [ProductName] is already installed."/>

		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="Installer" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
        
        <Icon Id="icon.ico" SourceFile="$(var.OfficeRibbonXEditor.ProjectDir)\Resources\Images\ApplicationIcon.ico"/>
        <Property Id="ARPPRODUCTICON" Value="icon.ico" />

        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
        <Property Id="INSTALLDESKTOPSHORTCUT" Value="1"/>
        <Property Id="INSTALLSTARTMENUSHORTCUT" Value="1"/>

        <UI>
            <UIRef Id="Custom_InstallDir"/>
        </UI>
	</Product>

    <Fragment>
        <UI Id="Custom_InstallDir">
            <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
            <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
            <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

            <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
            <Property Id="WixUI_Mode" Value="InstallDir" />

            <DialogRef Id="BrowseDlg" />
            <DialogRef Id="DiskCostDlg" />
            <DialogRef Id="ErrorDlg" />
            <DialogRef Id="FatalError" />
            <DialogRef Id="FilesInUse" />
            <DialogRef Id="MsiRMFilesInUse" />
            <DialogRef Id="PrepareDlg" />
            <DialogRef Id="ProgressDlg" />
            <DialogRef Id="ResumeDlg" />
            <DialogRef Id="UserExit" />
            
            <Dialog Id="CustomInstallDirDlg" Width="370" Height="270" Title="!(loc.InstallDirDlg_Title)">
                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
                    <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                </Control>

                <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.InstallDirDlgDescription)" />
                <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.InstallDirDlgTitle)" />
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
                <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />

                <Control Id="FolderLabel" Type="Text" X="20" Y="60" Width="290" Height="30" NoPrefix="yes" Text="!(loc.InstallDirDlgFolderLabel)" />
                <Control Id="Folder" Type="PathEdit" X="20" Y="100" Width="320" Height="18" Property="WIXUI_INSTALLDIR" Indirect="yes" />
                <Control Id="ChangeFolder" Type="PushButton" X="20" Y="120" Width="56" Height="17" Text="!(loc.InstallDirDlgChange)" />

                <Control Id="InstallDesktopShortcutCheckbox" Type="CheckBox" X="20" Y="160" Width="250" Height="20" Text="Create shortcut on desktop" Property="INSTALLDESKTOPSHORTCUT" CheckBoxValue="1" />
                <Control Id="InstallStartMenuShortcutCheckbox" Type="CheckBox" X="20" Y="180" Width="250" Height="20" Text="Create shortcut on Start menu" Property="INSTALLSTARTMENUSHORTCUT" CheckBoxValue="1" />
            </Dialog>

            <Publish Dialog="BrowseDlg" Control="OK" Event="DoAction" Value="WixUIValidatePath" Order="3">1</Publish>
            <Publish Dialog="BrowseDlg" Control="OK" Event="SpawnDialog" Value="InvalidDirDlg" Order="4"><![CDATA[NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>

            <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="CustomInstallDirDlg">NOT Installed</Publish>
            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">Installed AND PATCH</Publish>

            <Publish Dialog="CustomInstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
            <Publish Dialog="CustomInstallDirDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
            <Publish Dialog="CustomInstallDirDlg" Control="Next" Event="DoAction" Value="WixUIValidatePath" Order="2">NOT WIXUI_DONTVALIDATEPATH</Publish>
            <Publish Dialog="CustomInstallDirDlg" Control="Next" Event="SpawnDialog" Value="InvalidDirDlg" Order="3"><![CDATA[NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>
            <Publish Dialog="CustomInstallDirDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="4">WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"</Publish>
            <Publish Dialog="CustomInstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
            <Publish Dialog="CustomInstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>
            
            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="CustomInstallDirDlg" Order="1">NOT Installed</Publish>
            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2">Installed AND NOT PATCH</Publish>
            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">Installed AND PATCH</Publish>

            <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

            <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
            <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
            <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

            <Property Id="ARPNOMODIFY" Value="1" />
        </UI>

        <UIRef Id="WixUI_Common" />
    </Fragment>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Office RibbonX Editor" />
			</Directory>
            <Directory Id="DesktopFolder" SourceName="Desktop"/>
            <Directory Id="ProgramMenuFolder"/>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			 <Component Id="ProductComponent">
           <File Id="MainExecutable" Name="$(var.OfficeRibbonXEditor.TargetFileName)" Source="$(var.OfficeRibbonXEditor.TargetPath)" DiskId="1"/>
       </Component>
       <Component Id="DesktopShortcut" Guid="B5B8796C-90EB-4823-B3FB-B37D79F37C28">
           <Condition>INSTALLDESKTOPSHORTCUT</Condition>
           <Shortcut Id="ProductDesktopShortcut" 
                     Name="Office RibbonX Editor" 
                     Target="[INSTALLFOLDER]\$(var.OfficeRibbonXEditor.TargetFileName)"
                     Directory="DesktopFolder"
                     WorkingDirectory="INSTALLFOLDER"
                     Description="Custom UI Editor for Microsoft Office"/>
           <RegistryValue Root="HKCU" Key="Software\Fernando Andreu\Office RibbonX Editor" Name="installed" Type="integer" Value="1" KeyPath="yes" />
       </Component>
       <Component Id="StartMenuShortcut" Guid="3A87A0CB-8306-43AF-B059-D4613C0CD619">
          <Condition>INSTALLSTARTMENUSHORTCUT</Condition>
          <Shortcut Id="ProductMenuShortcut" 
                    Name="Office RibbonX Editor" 
                    Target="[INSTALLFOLDER]\$(var.OfficeRibbonXEditor.TargetFileName)"
                    Directory="ProgramMenuFolder"
                    WorkingDirectory="INSTALLFOLDER"
                    Description="Custom UI Editor for Microsoft Office"/>
          <RegistryValue Root="HKCU" Key="Software\Fernando Andreu\Office RibbonX Editor" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
		</ComponentGroup>
	</Fragment>
</Wix>
