<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncAwaitBestPractices" version="2.1.1" targetFramework="net461" />
  <package id="AsyncAwaitBestPractices.MVVM" version="2.1.1" targetFramework="net461" />
  <package id="Autofac" version="4.9.2" targetFramework="net461" />
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net461" />
  <package id="Costura.Fody" version="4.0.0" targetFramework="net461" />
  <package id="estebano.ScintillaNET.WPF" version="2.6.0" targetFramework="net461" />
  <package id="Extended.Wpf.Toolkit" version="3.5.0" targetFramework="net461" />
  <package id="Fody" version="5.0.6" targetFramework="net461" developmentDependency="true" />
  <package id="jacobslusser.ScintillaNET" version="3.6.3" targetFramework="net461" />
  <package id="JetBrains.Annotations" version="2019.1.1" targetFramework="net461" />
  <package id="log4net" version="1.2.10" targetFramework="net461" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
</packages>