<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OfficeRibbonXEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <OfficeRibbonXEditor.Properties.Settings>
            <setting name="EditorFontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="IconSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="AttributeColor" serializeAs="String">
                <value>Purple</value>
            </setting>
            <setting name="CommentColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="TagColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="StringColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TabWidth" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="WrapMode" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ShowWhitespace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoIndent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreserveAttributes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDefaultSamples" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CustomSamples" serializeAs="String">
                <value />
            </setting>
            <setting name="SandBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IconGridMargin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IconGridMainColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="IconGridSecondaryColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="IconGridTwoColors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IconGridSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="Culture" serializeAs="String">
                <value />
            </setting>
            <setting name="UICulture" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
        </OfficeRibbonXEditor.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.5.0" newVersion="2.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>